<html>
    
    <head>
   <meta charset="UTF-8">
  <title>ABOUT</title>
  
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400|Open+Sans+Condensed:300|Roboto|Roboto+Condensed|Slabo+27px" rel="stylesheet">



  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track' => true %> -->


  
</head>

<body>
    
      <div class="container">

        <h1>ABOUT STARTNOW</h1>
        <p>StartNow is a web-application targeting Simon Fraser University students who want to work on projects outside of the classroom. Users of our application will be able to log in, create profiles, create project profiles, seek other people with the appropriate skillsets, join existing project groups, post on a project discussion board, create meeting locations, and communicate with fellow users using the chat feature to begin their collaborative process. These features will be discussed further in a latter section.</p>
       
      </div>
    
    <div class="posters">
        <div class="container">
         
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://www.petproductnews.com/puppies.jpeg">
                        <p><a href="#">See the team.</a></p>
                    </div>


                <div class="col-md-4">
                    <div class="thumbnail">
                    <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
                    <p> <a href = "https://github.com/jnmczk/STARTNOW2" >See our Github</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lm">
	  <div class="container">
		<div class="row">

      <div class="col-md-4">
			<h3>Search</h3>
			<p>Join hundreds of other postings</p>
			  <p>
          <% if user_signed_in? %>
          <%= link_to 'See how others have done it', posts_path %></p>
            <% else %>
            <p>  <%= link_to 'See how others have done it', new_user_session_path %></p>
              <!-- ink_to 'Post a new project', new_user_session_path %> -->
  		          <% end %>
	      </div>

		  <div class="col-md-4">
			<h3>Post</h3>
			<p> Get partners to being on your mission whether it be startup, a project or even an idea</p>
      <p><% if user_signed_in? %>
            <%= link_to 'Post a new project', new_user_post_path(:user_id) %></p>
        <% else %>
            <%= link_to 'Post a new project', new_user_session_path %>
		  <% end %>

    </div>

			<h3>Collaborate</h3>
			<p>Where Collaboration Begins. Why Start later when you can StartNow?</p>
			<p>
         <% if user_signed_in? %>
        <%= link_to 'See Posts', posts_path %></p>
        <% else %>
          <%= link_to 'See Posts', new_user_session_path %>
		        <% end %>
        </p>
        <br>
		  </div>
   </div>

 <div style="margin-left:25px;">
        <h4> Contact Us: </h4>
          <p>
          collabotech@gmail.com
    	   </P>
	</div>

  <br>
     <div class="footer"> <h5 style="text-align:center;"></h5></div>

  </body>
</html>
